apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "helm-bitwarden-unified.fullname" . }}-key-connector-environment
data:
{{- range $key, $val := .Values.keyConnector.environment }}
  {{ $key }}: "{{ $val }}"
{{- end }}
  keyConnectorSettings__database__provider: mysql
  keyConnectorSettings__database__mySqlConnectionString: "server={{ .Values.environment.BW_DB_SERVER }};uid={{ .Values.environment.BW_DB_USERNAME }};password={{ .Values.environment.BW_DB_PASSWORD }};database={{ .Values.environment.BW_DB_DATABASE }}"