apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "helm-bitwarden-unified.fullname" . }}-files
data:
  nginx-config.hbs: |
    {{- range .Files.Lines "files/nginx-config.hbs" }}
    {{ . }}{{ end }}
